nav{
    height: 60px;
    
}

.nav_center, .nav_left_container ul{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.nav_center{
    position: fixed;
    left: 0;
    right: 0;
   
    height: 60px;
    background-color: var(--clr-primary-1);
    border-bottom: 1px solid var(--clr-border-dark);
}
.nav_middle_container input{
    width: 17rem;
}
.logo{
    width: 40px;
    height: 40px;
}

@media (max-width: 48em) {
    .nav-header .link{
        position: absolute;
    }
    .nav_left_container{
        position: absolute;
        left: 1rem;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--clr-primary-1);
    }
    
}