
.upper{
	display: flex;
	height: 250px;
	background-color: #1D3153;
}
.profile_img{

	width: 200px;
	height: 200px;
	margin-top: 20px;
}
.avatar{
	margin-left: 50px;
	
}
.profile_h1{
	color:#fff;
    position: relative;
    top: 40px;
    left: 200px;

	 padding: 0;
	
}
.profile_p{
	
	color: #fff;
	position: relative;
	top: 80px;
    left: 80px;
    padding: 0;
	
	
}


.collection{
	position: relative;
	top: 200px;

}
.liked{
	position: relative;
	top: 200px;
	left: 10px;
}
.profile_button{
	
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: black;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	
	letter-spacing: 1.5px;
	align-items: left;
	width: 110px;
	height: 30px;
	position: relative;
	top: 50px;
	left: 650px;
	

}
button{
	
	border-color: #fff;
	
}
button:active {
	transform: scale(0.95);
}

Link:focus {
	outline: none;
}
hr{
	padding: 0;
	margin: 0;
}

.buttong{
	
	height: 30px;

}
.git{
	position: relative;
	top: 200px;
	left: 500px;
	height: 30px;

}
.linkedin{
	position: relative;
	top: 200px;
	left: 510px;
}

.lower{
	height: 400px;
	background :#1D3153;
}